<h1>Articles</h1>

<%= form_with url: articles_path, method: :get, local: true do %>
  <%= label_tag :query, "検索記事" %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag "検索" %>
<% end %>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %> 
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>

    <% if article.image.attached? %>
      <%= image_tag article.image, size: "150x150" %><br>
    <%else%>
      <img src="http://placehold.jp/150x150"><br>
    <%end%>

  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>